@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__month-container {
  background-color: #1e1e1e;
}

.react-datepicker__header {
  background-color: #2d2d2d;
  color: white;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #ccc;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #333;
}

.react-datepicker__day--selected,
.react-datepicker__month-text--selected,
.react-datepicker__quarter-text--selected,
.react-datepicker__year-text--selected {
  background-color: #666;
}

.react-datepicker__current-month,
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  color: #ccc;
}

.react-datepicker__navigation--previous:hover,
.react-datepicker__navigation--next:hover {
  border-color: #888;
}

